body {
  background-color: #339933;
}

.holder {
  margin-top: -15px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.playing_space{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align:center;
}

.human_player {
  text-align: center;
}

.player_div {
  text-align:center;
  width : 190px;
  margin: 0 20px 10px 20px;
  display : inline-block;
}

img {
  margin: 0 7px 0 7px;
}

.set_card {
  position: relative;
  display: inline-block;
  margin-right: -25px;
  margin-left: -25px;
}

.deck_card {
  position: relative;
  display: inline-block;
  margin-right: -35px;
  margin-left: -35px;
}
