div.holder
  - (@num_of_players.to_i - 1).times do |index|
      div.player_div
        h2 ="Player#{index + 2}"
        img src="img/cards/backs_red.png" alt="Red card back"
        br
        img.set_card src="img/cards/sj.png" alt="Jack of Spades"
        img.set_card src="img/cards/s5.png" alt="5 of Spades"
        img.set_card src="img/cards/sA.png" alt="Ace of Spades"

div.playing_space
  img.deck_card src="img/cards/backs_red.png" alt="Red card back"
  img.deck_card src="img/cards/backs_red.png" alt="Red card back"
  img.deck_card src="img/cards/backs_red.png" alt="Red card back"
  img.deck_card src="img/cards/backs_red.png" alt="Red card back"
  img.deck_card src="img/cards/backs_red.png" alt="Red card back"

div class="human_player"
  h2 Player1
  img src="img/cards/h9.png" alt="9 of Hearts"
  img src="img/cards/h3.png" alt="3 of Hearts"
  img src="img/cards/s7.png" alt="7 of Spades"
  img src="img/cards/d9.png" alt="9 of Diamonds"
  img src="img/cards/c9.png" alt="9 of Clubs"
  img src="img/cards/cK.png" alt="King of Clubs"
  br
  img.set_card src="img/cards/s6.png" alt="6 of Spades"
  img.set_card src="img/cards/s10.png" alt="10 of Spades"
